.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(360deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

html{
    height: 100%;
}

main{
    margin: auto;
    background-color: white;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 940px auto;
    background-repeat: no-repeat;
    background-position: 425% 65%;
    border-radius: 25px;
    box-shadow: 0px 35px 50px -15px rgb(69 51 134);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2em;
    max-width: 800px;
    height: 52%;
    width: 65%;

}
h1{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

.box{
    position: absolute;
    top: 197px;
    left: -85px;
    width: 46%;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0 0 20px 0;
}
li{
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
}
.question{
    font-size: 12px;
    /* background: url(/images/icon-arrow-down.svg) no-repeat;
    background-position: 95% 50%; */
    padding: 15px 0px 10px 0;
    border-bottom: solid 1px hsl(240, 5%, 91%);
    color:hsl(237, 12%, 33%) ;
    width: 80%;
}
.answer{
    font-size: 12px;
    color:hsl(240, 6%, 50%);
    display: none;
}

.images{
    position: relative;
    background: url(images/illustration-woman-online-desktop.svg) no-repeat;
    height: 100%;
    background-position: 135% 46%;
    background-size: 440px auto;
}

.Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    display: grid;
    grid-template-columns: 80% 20%;
    border: none;
    background-color: none;
    background-color: transparent;
    padding: 0 0 10px 0;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    color:hsl(237, 12%, 33%) ;

}

button:hover{
    cursor: pointer;
}

.arrow{
    justify-self: center;
    align-self: center;
}

.woman{
    display: none;
}
